@media screen and (max-width: 1540px){
    .nav_menu, 
    .header__logo{
        width: 80%;
    }
}
@media screen and (max-width: 1425px){
     /* burger */
    .nav-burger-btn{
        display: flex;
        position: fixed;
        justify-content: center;
        align-items: center;
        z-index: 91;
    }
    .nav_menu{
        display: none;
    }
    .nav_menu--active{
        display: flex;
        width: 220px; 
        background-color: rgb(255, 255, 255, 0.9);
        height: 100vh;
        position: fixed;
        top:0;
        left: 0;
        transition: left .5s;
    }
    .nav_items--active{
        display: flex;
        flex-direction: column;
        transition: all .1s left .3s;
    }  
    .nav_item_link{
        overflow: visible;
    }
    .nav_items{
        margin-top: 100px;
        align-items: flex-start;
    }
    .nav_item{
         padding-bottom: 25px;
    }
    .nav_item_link:hover{
        width: 100%;
    }
}
@media screen and (max-width: 1300px){
    .logo{
        max-width: 250px;
    } 
    .header__container{
        height: 700px;
    }   
    .adv__briksize{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 1024px){
    .logo{
        max-width: 220px;
    } 
    .header-phone a{
        font-size: 24px;
    }
    .header__title{
        width: 100%;
        padding: 0 20px;
    }
    .header__title h1{
        line-height: 1.5rem;
        padding-bottom: 10px;
        padding-top: 170px;
    }
    .header__title h2{
        line-height: 2.2rem; 
    }
    .header__container{
        height: 500px;
    }
    ._container{
        width: 96%;
       
    }
    .adv_benefits_point{
        flex: 1 1 25%;
    }
    .adv__briksize{
        line-height: 28px;
     }
     .adv__briksize ul{
       text-align: center;
    }
}
@media screen and (max-width: 980px){
    .swiper {
        width: 750px ;
        height: 650px;
    }
    .swiper-button-prev,
    .swiper-button-next{
         top: 50% !important;
    }
    .faq__content-wrapper{
        flex-direction: column;
    }
    .faq__content{
        width: 100%;
        padding: 0 20px;
    }
    .faq__line{
        height: 1px;
        width: 90%;
        margin: 40px auto;
        background-color: rgba(255, 255, 255, .6);
    }
    .faq__form{
        width: 100%;
        padding: 0 20px;
    }
}
@media screen and (max-width: 922px){
    .footer__content-wrapper{
        flex-direction: column;
    }
    .footer__logo{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer__logo-img{
        width: 100%;
        max-width: 280px;
        height: 52px;
    }
    .footer__contacts-wrapper{
        width: 100%;
        padding-top: 18px;
    }
}
@media screen and (max-width: 880px){
    .map-wraper {
        padding-bottom: 40%;
    }
}
@media screen and (max-width: 790px){
    .logo{
        max-width: 180px;
    }
    .header-phone a{
        font-size: 20px;
    }    .header__logo{
        width: 100%;
        padding-left: 60px;
    }
    .header__title h1,
    .header__title h2{
        text-shadow: 3px 3px 0px rgba(0,0,0,0.5);
    }
    .header__container{
        height: 450px;
    }
    .adv__briksize{
       line-height: 24px;
    }
    .adv__briksize ul{
        width: auto;
    }
    .adv__briksize img{
        margin-right: 0px;
    }
    .swiper {
        width: 650px ;
        height: 530px;
    }
    .swiper-slide_img img{
        height: 520px;
    }
  }
 @media screen and (max-width: 688px){
    .footer__logo{
        flex-direction: column;
    }
    .footer__contacts-wrapper{
        flex-direction: column;
        align-items: center;
    }
    .footer-contacts {
        width: auto;
    }
    .footer__adress-wrapper{
        margin-top: 18px;
        padding-left: 40px;
    }
    .footer__politics{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .copyright{
        margin-bottom: 12px;
    }
    .footer__container{
        padding: 30px 0 30px 0;
    } 
    .footer-contacts {
        padding-left: 0px;
    }
}
 @media screen and (max-width: 660px){
    .swiper {
        width: 410px ;
        height: 320px;
    }
    .swiper-slide_img img{
        height: 315px;
    }
    .swiper-pagination-bullet{ 
        width: 10px !important;
        height: 10px !important;
    }
 }
 @media screen and (max-width: 600px){
    .adv_benefits_point,
    .adv_benefits_item{
        flex: 1 1 60%;
    }
    .faq__content-wrapper{
        padding: 40px 10px;
    }
    .faq__content{
        line-height: 22px;
     }
  }
 @media screen and (max-width: 488px){
    .faq__form{
        display: flex;
        flex-direction: column;
    }
    .faq__content,
    .faq__form{
        padding: 0;
    }
    .input-name,
    .input-tel{
        width: 100%;
    }
    .input-tel{
        margin-left: 0;
    }
    .map-wraper {
        padding-bottom: 50%;
    }
    .footer__container {
        padding-top: 40px;
    }
    .copyright{
        text-align: center;
    }
    .error-label__content{
        top: -24px;
        right: -8px;
    }
}
 @media screen and (max-width: 425px){
    .header-phone{
        display: none;
    }
    .header__title h2{
        line-height: 1.2rem; 
    }
    .using_item img{
        width: 320px;
        height: 280px;
    }
    .footer__logo-img{
        max-width: 200px;
        height: 40px;
    }
 }
 @media screen and (max-width: 420px){
    .swiper {
        width: 300px ;
        height: 200px;
    }
    .swiper-slide_img img{
        height: 200px;
    }
    .swiper-pagination-bullet{ 
        width: 5px !important;
        height: 5px !important;
    }
 }
 @media screen and (max-width: 320px){
    .using_item img{
        width: 280px;
        height: 240px;
    }
    .using_item{
        margin-bottom: 5px;
        height: 300px ;
    }
    .header__title{
        margin-bottom: 80px;
    }
 }