*, 
*::before,
*::after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul, 
ol,
li{
    list-style: none;
}
img{
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5{
    font-weight: inherit;
    font-size: inherit;
}
html,
body{
    height: 100%;
    line-height: 20px;
    font-size: 18px;
    color: black;
    font-family: 'Source Serif Pro', serif;
    font-weight: 400;
    scroll-behavior: smooth;
}
.img-responsive{
    width: 100%;
    height: auto;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
    background-color: rgba(247, 247, 247, 0.9);
}
._container{
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}
.title{
    font-weight: 500;
    font-size: calc(25px + (36 - 25)*(100vw/1440));
    text-align: center;
    padding: 0px 0px 20px 0;
    line-height: 40px;
}
h3{
    font-size: calc(25px + (36 - 25)*(100vw/1440));
}
.header__container{
    background-image: url('../images/bord.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 900px;
    width: 100vw;
    display: flex;
}
.header__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    background-color: rgba(247, 247, 247, 0.9);
    position: fixed;
    width: 100%;
    z-index: 90;
}
.header__logo{
    width: 70%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 100%;
    max-width: 300px;
    z-index: 1;
}
.header-phone{
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}
.header-phone a{
    font-size: 22px;
    font-weight: 600;
    color: #030303;
}
.header-phone a:not(:last-child){
    margin-bottom: 7px;
}
.header__title{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: #ffff;
    margin: 0 auto;
    margin-bottom: 40px;
}
.header__title h1{
    font-size: calc(25px + (62 - 25)*(100vw/1440));
    line-height: 4.3rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 6px 3px 0px rgba(0,0,0,0.5);
}
.header__title h2{
    font-size: calc(14px + (34 - 14)*(100vw/1440));
    line-height: 3.2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 6px 3px 0px rgba(0,0,0,0.5);

}
.btn_callback{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #c71010;
    box-shadow:0 8px 10px rgba(56,163,253,0.3);
    position: fixed;
    bottom: 15px;
    right: 15px;
    text-align: center;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition:.3s;
    -webkit-animation:hoverWave linear 1s infinite;
    animation:hoverWave linear 1s infinite;
    cursor: pointer;
}
.btn_callback--active{
    visibility: visible;
    opacity: 1;
    transition: opacity 1s;
}
.btn_callback:hover{
    background-color:rgb(15, 54, 228);
    color: transparent;
    transition:.3s;
}
.btn_callback_link{
    color: #fff;
}
.btn_callback_link i{
    font-size: 48px;
    transition: .5s ease-in-out;
 }
.btn_callback i {
    animation: 1200ms ease 0s normal none 1 running shake;
        animation-iteration-count: infinite;
        -webkit-animation: 1200ms ease 0s normal none 1 running shake;
        -webkit-animation-iteration-count: infinite;
}
.btn_callback:hover i{
     transition:.3s;
     font-size: 56px;
 }
 @-webkit-keyframes hoverWave {
    0% {
    box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 0 rgba(56,163,253,0.2),0 0 0 0 rgba(56,163,253,0.2)
}
40% {
    box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 15px rgba(56,163,253,0.2),0 0 0 0 rgba(56,163,253,0.2)
}
80% {
    box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 26.7px rgba(56,163,253,0.067)
}
100% {
    box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 40px rgba(56,163,253,0.0)
}
}@keyframes hoverWave {
    0% {
    box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 0 rgba(56,163,253,0.2),0 0 0 0 rgba(56,163,253,0.2)
}
40% {
    box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 15px rgba(56,163,253,0.2),0 0 0 0 rgba(56,163,253,0.2)
}
80% {
    box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 26.7px rgba(56,163,253,0.067)
}
100% {
    box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 40px rgba(56,163,253,0.0)
}
}

/* animations icon */

@keyframes shake {
0% {
transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
}
10% {
transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    -webkit-transform: rotateZ(-30deg);
}
20% {
transform: rotateZ(15deg);
    -ms-transform: rotateZ(15deg);
    -webkit-transform: rotateZ(15deg);
}
30% {
transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
    -webkit-transform: rotateZ(-10deg);
}
40% {
transform: rotateZ(7.5deg);
    -ms-transform: rotateZ(7.5deg);
    -webkit-transform: rotateZ(7.5deg);
}
50% {
transform: rotateZ(-6deg);
    -ms-transform: rotateZ(-6deg);
    -webkit-transform: rotateZ(-6deg);
}
60% {
transform: rotateZ(5deg);
    -ms-transform: rotateZ(5deg);
    -webkit-transform: rotateZ(5deg);
}
70% {
transform: rotateZ(-4.28571deg);
    -ms-transform: rotateZ(-4.28571deg);
    -webkit-transform: rotateZ(-4.28571deg);
}
80% {
transform: rotateZ(3.75deg);
    -ms-transform: rotateZ(3.75deg);
    -webkit-transform: rotateZ(3.75deg);
}
90% {
transform: rotateZ(-3.33333deg);
    -ms-transform: rotateZ(-3.33333deg);
    -webkit-transform: rotateZ(-3.33333deg);
}
100% {
transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
}
}

@-webkit-keyframes shake {
0% {
transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
}
10% {
transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    -webkit-transform: rotateZ(-30deg);
}
20% {
transform: rotateZ(15deg);
    -ms-transform: rotateZ(15deg);
    -webkit-transform: rotateZ(15deg);
}
30% {
transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
    -webkit-transform: rotateZ(-10deg);
}
40% {
transform: rotateZ(7.5deg);
    -ms-transform: rotateZ(7.5deg);
    -webkit-transform: rotateZ(7.5deg);
}
50% {
transform: rotateZ(-6deg);
    -ms-transform: rotateZ(-6deg);
    -webkit-transform: rotateZ(-6deg);
}
60% {
transform: rotateZ(5deg);
    -ms-transform: rotateZ(5deg);
    -webkit-transform: rotateZ(5deg);
}
70% {
transform: rotateZ(-4.28571deg);
    -ms-transform: rotateZ(-4.28571deg);
    -webkit-transform: rotateZ(-4.28571deg);
}
80% {
transform: rotateZ(3.75deg);
    -ms-transform: rotateZ(3.75deg);
    -webkit-transform: rotateZ(3.75deg);
}
90% {
transform: rotateZ(-3.33333deg);
    -ms-transform: rotateZ(-3.33333deg);
    -webkit-transform: rotateZ(-3.33333deg);
}
100% {
transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
}
}
/* Menu*/
.nav_menu{
    width: 70%;
}
.nav_items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
}
.nav_item_link{
    font-weight: 600;
    align-items: center;
    color: #c71010;
    text-transform: uppercase;
}
.nav_item_link{
    font-weight: 600;
    align-items: center;
    color: #c71010;
    text-transform: uppercase;
    padding: 10px;
}
.nav_item_link:hover{
    font-weight: 600;
    align-items: center;
    color: #fff;
    background-color: rgb(65, 65, 67, 0.9);
    padding: 10px;
}
.nav-burger-btn, 
.nav-burger-btn--active {
    display: none;
    width: 50px;
    height: 50px;
    background-color: transparent;
    cursor: pointer;
}
.nav-burger-btn::after{
    font-family: 'FontAwesome';
    content: "\f0c9";
    font-size: 26px;
    color: #c71010;
}
.nav-burger-btn--active::after {
    font-family: 'FontAwesome';
    content: '\f00d';
}
/*<section class="advantages">*/
.advantages__container{
    width: 80%;
    margin: 40px auto;
}
.adv-description{
    text-indent: 20px;
    text-align: justify;
}
.adv-description_items li{
    list-style: square;
   margin-left: 20px;
    font-style: italic;
}
.adv-description_items li:not(:last-child){
    margin-bottom: 10px;
}
.advantages__benefits{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    margin: 40px 0;
}
.adv_subtitle{
    font-size: calc(22px + (28 - 22)*(100vw/1440));
    line-height: 24px;
    padding: 0 15px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}
.adv_benefits, 
.adv__items{
    display: flex;
    flex-wrap: wrap;
}
.adv_benefits_item{
    flex: 1 1 30%;
    min-width: 250px;
    display: flex;
    height: auto;
    flex-direction: column;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: 500;
    font-style: italic;
    text-align: justify;
    margin: 10px;
    padding: 30px;
    background: url('../images/background-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.adv_benefits_item:hover{
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
}
.adv_benefits_point{
    flex: 1 1 20%;
    display: flex;
    min-width: 200px;
    height: 150px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    flex-direction: column;
    background: url('../images/background-2.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 20px;
    padding: 10px;
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
}
.adv_benefits_point i{
    font-size: 40px;
    margin: 15px;
    color: #c71010;
}
.adv_benefits_point:hover{
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
}
.adv_benefits_point:hover i{
    transform: rotateZ(20deg);
}
.benefits_item__title{
    font-size: 20px;
    font-weight: 600;
    color: #c71010;
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
}
.adv_item{
    flex: 1 1 20%;
    display: flex;
    height: 200px;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
}
.advantages__description img{
    width: 100%;
    height: auto;
    max-width: 350px;
    margin-right: 16px;
    margin-bottom: 10px;
}
.advantages__description p{
    margin-bottom: 10px;
    line-height: 25px;
}
.advantages_items{
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;
}
.advantages_item{
    display: flex;
    width: calc(50% - 20px);
    flex-direction: column;
    align-items: center;
    background-color: #ffff;
    padding: 30px 20px 20px 20px;
    margin: 0 10px 20px 10px;
    box-shadow: 0px 5px 90px 0px rgb(110 123 131 / 5%);
}
.advantages_item__description{
    text-align: center;
}
.advantages__briksize{
    display: flex;
    margin: 40px auto;
    flex-direction: column;
}
.adv__briksize{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    line-height: 34px;
}
.adv__briksize img{
    margin-right: 50px;
}
.adv__briksize ul{
    margin-top: 20px;
}
.adv__surfaces{
    display: flex;
    flex-wrap: wrap;
}
.adv_surface{
    flex: 1 1 20%;
    display: flex;
    height: 200px;
    min-width: 200px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    flex-direction: column;
    justify-content: end;
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
}
.adv_surface img{
    max-width: 50%;
 
    margin: 0 auto;
    margin-bottom: 20px;
}
.adv_surface:hover img{
    max-width: 40%;
    transition: .3s;
}
/* <section class="selection"> */
.selection{
    background-color: #eeeeee;
    padding: 40px 0;
}
.selection__container{
    width: 80%;
}
.selection__title{
    color: #000;
}
.selection__descriptions{ 
    display: flex;
    flex-wrap: wrap;
 }
.selection__description{ 
    flex: 1 1 20%;
    display: flex;
    height: auto;
    margin: 10px;
    flex-direction: column;
    align-items: center;
}
.selection__description img{
    width: 250px;
    height: auto;
    margin-bottom: 15px;
    -webkit-box-shadow: 14px 14px 14px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 14px 14px 14px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 14px 14px 14px 2px rgba(34, 60, 80, 0.2);;
}
.selection__description:hover img{
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
}
/* <section class="using"> ****************************/
.using__container{
    margin-bottom: 20px;
    padding: 40px 0;
}
.using__items{
    display: flex;
    flex-wrap: wrap;
}
.using_item{
    display: flex;
    flex: 1 1 25%;
    height: 350px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}
.using_item img{
    width: 380px;
    height: 300px;
}
.using_item__title{
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
    min-height: 40px;
}
.payment{
    margin-bottom: 40px;
}
.slider{
    margin-bottom: 40px;
}
.swiper {
    width: 950px;
    height: 700px;
}
.swiper-slide_img{
    width: 100%;
} 
.swiper-slide_img img{
    width: 100%;
    height: 600px;
}
.swiper-button-prev,
.swiper-button-next{
    font-weight: 700;
    color: #c71010 !important;
    top: 40% !important;
}
.swiper-pagination-bullet{ 
    background-color: #c71010 !important;
    width: 15px !important;
    height: 15px !important;
}
.faq{
    background-color: #596065;
    color:rgba(255, 255, 255, .9);
}
.faq__content-wrapper{
    display: flex;
    padding: 60px 0;
}
.faq__content{
    width: 50%;
    line-height: 26px;
    text-align: justify;
    text-indent: 20px;
}
.faq__line{
    width: 1px;
    margin: 50px 40px 0;
    background-color: rgba(255, 255, 255, .6);
}
.faq__form{
    width: 50%;
}
.input,
.input-text{
    padding-left: 15px;
    margin-bottom: 24px;
    border-radius: 3px;
    outline: none;
}
.input-name,
.input-tel{
    height: 40px;
    width: calc(50% - 16px);
}
.error-label{
    position: relative;
}
.error-label__content{
    width: 186px;
    position: absolute;
    color: #FF7E7E;
    font-size: 14px;
    top: -32px;
    right: -212px;
    visibility: hidden;
}
.error-label__content--active{
    visibility: visible;
}
.input-tel{
    margin-left: 26px;
}
.input-text{
    width: 100%;
    height: 140px;
    padding-top: 15px;
}
.form__button-wrapper{
    text-align: center;
}
.button{
    cursor: pointer;
    outline: none;
    display: inline-block;
}
.button-form{
    width: 260px;
    height: 40px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255);
    border: 1px solid transparent;
    transition: all 0.2s linear;
    font-size: 16px;
}
.button-form:hover{
    background-color: #596065;
    border: 1px solid rgba(255, 255, 255, .9);
    color: rgba(255, 255, 255);
}
/*MAP*/
.map-wraper{
    overflow:hidden;
    position:relative;
    height: 0;
    padding-bottom: 30%;
}
.map-wraper iframe{
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width:100%;
}
/**FOOTER*/
.footer{
    background-color: #333333;
}
.footer__container{
    padding: 50px 0 30px 0;
}
.footer__content-wrapper{
    display: flex;
    justify-content: space-between;
}
.footer__contacts-wrapper{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.footer-contacts {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 44px;
}
.footer__contacts-item{
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 12px;
    position: relative;
}
.footer__contacts-item i{
    position: absolute;
    top: 0px;
    left: -42px;
    font-size: 28px;
    color: rgba(255, 255, 255, .9);
}
.footer__contacts-link{
    color: rgba(255, 255, 255, .9);
}
.footer__contacts-link:hover{
    color: rgba(255, 255, 255);
}

.footer__adress-wrapper{
    width: 100%;
    max-width: 240px;
}
.footer__adress-item{
    font-size: 18px;
    line-height: 26px;
    color: rgba(255, 255, 255, .9);
    position: relative;
}
.footer__adress-item i{
    position: absolute;
    font-size: 36px;
    top: 0px;
    left: -38px;
    color: rgba(255, 255, 255, .9);
}
.footer__link-wrapper{
    display: flex;
    padding: 18px 0;
}
.footer__social-link a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
    width: 42px;
    height: 42px;
    background-color: rgba(255, 255, 255, .9);
    border-radius: 50%;
    padding: 10px;
    transition: all 0.2s linear;
}
.footer__social-link a:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, .9);
}
.footer__social-link:hover a img{
    transform: rotateZ(20deg);
}
.footer__politics{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.copyright{
    font-size: 16px;
    color: rgba(255, 255, 255, .9);
}
.politicss-agreement__link{
    font-size: 16px;
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.521);
    transition: all 0.2s linear;
}
.politicss-agreement__link:hover{
    color: rgba(255, 255, 255, 0.9);
}
